<template>
    <div>
        <button @click="sendEmail">Отправить приглашение</button>
        <input v-model="invite">
    </div>
</template>
<script>
    import {SERVER} from "../server-coordinator";

    export default {
        props:{
            id:{
                require:true,
                type:Number
            }
        },
        data: function () {
            return {
                invite: "asd",
                name:"asd"
            };
        },
        name: "AuthorInvite",
        methods: {
            async sendEmail() {
                const http= SERVER.defaults.baseURL + "/email/send?text="+this.finalText+"&address="+this.invite;
                await this.$http.post(http);
            }
        },
        computed:{
            finalText(){
                return "Я,"+this.name+",приглашаяю стать тебя автором на сайте с киноновостями WTLL,ссылка"
            }
        },
        created() {
            const http= SERVER.defaults.baseURL + "/users/authors/author?id="+this.id;
            this.$http.get(http).then(res=>{this.name=res.body.name});
        }
    }
</script>

<style scoped>

</style>