<template>
    <BasePage>
        <div id="about-content">
            <div class="buttons-container" v-if="isMyPage">
                <button class="neutral-button" style="margin-left: 10px" @click="invite">Invite</button>
                <router-link tag="button" to="/settings" class="neutral-button" style="margin-left: 10px">Edit</router-link>
                <button class="neutral-button" style="margin-left: 10px" @click="logout">Logout</button>
            </div>
            <div id="information" v-if="author">
                <div id="avatar">
                    <img id="ava" @error="setDefaultPhoto(true)" :src="photo">
                    <div id="nick">
                        {{author.name}}
                    </div>
                </div>

                <div class="reading-category">
                    <div class="reading-category-title">Об авторе</div>
                    <div id="about">
                        {{author.info}}
                    </div>
                </div>

                <div class="reading-category" v-if="author.socialNetworks.length">
                    <div class="reading-category-title">Соцсети</div>
                    <div class="lnk social-link" style="display: inline-block; margin-right: 10px" v-for="(elem, index) in filteredSocial" :key="index">
                        <a target="_blank" rel="noopener noreferrer" :href="'//' + elem.link">

                            <img class="network-logo" :src="socialToImg[elem.title.toLowerCase()]">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </BasePage>
</template>

<script>

    import BasePage from "../common/BasePage";
    import AuthorStore from "../../store/user_data_store";
    // eslint-disable-next-line no-unused-vars
    import {SERVER} from "../server-coordinator";
    import "@/styles/buttons.css";
    import "@/styles/reading_block.css";

    export default {
        name: "AuthorPage",
        components: {BasePage},
        data() {
            return {
                id: 0,
                store: AuthorStore,
                isMyPage: false,
                author: undefined,
                defaultPhoto: false,
                socialToImg: {
                    vk: require("@/assets/vk-logo.svg"),
                    facebook: require("@/assets/facebook-logo.svg"),
                    instagram: require("@/assets/instagram-logo.svg"),
                    twitter: require("@/assets/twitter-logo.svg"),
                }
            }
        },
        computed: {
            photo() {
                return this.defaultPhoto ? require("@/assets/avatars/default.jpg") : SERVER.defaults.baseURL + "/users/authors/avatar?id=" + this.id
            },
            filteredSocial() {
                if (!this.author.socialNetworks.length)
                    return []

                const valid = ["vk", "instagram", "facebook", "twitter"]

                return this.author.socialNetworks.filter(elem => valid.indexOf(elem.title.toLowerCase()) >= 0 && elem.link)
            },
        },
        methods: {
            loadFromUser(user) {
                if (!user) {
                    this.$router.push("/")
                    return
                }
                document.title = user.name
                this.author = user
            },
            load() {

                console.log("load", this.id, this.isMyPage)

                if (this.isMyPage) {
                    this.loadFromUser(this.store.state.author)
                    return
                }

                SERVER
                    .get("/users/authors/author", {
                        params: {
                            id: this.id
                        }
                    })
                    // eslint-disable-next-line no-unused-vars
                    .then(response => {
                        this.loadFromUser(response.data)
                    })
                    // eslint-disable-next-line no-unused-vars
                    .catch(e => {
                        this.$router.push("/")
                    })
            },
            logout() {
                SERVER
                    .post("/users/logout", null, {
                        withCredentials: true
                    })
                    // eslint-disable-next-line no-unused-vars
                    .then(response => {
                        this.store.commit("setAuthor", undefined)
                        this.$router.go(0)
                    })
            },
            setDefaultPhoto(value) {
                this.defaultPhoto = value
            },
            invite() {

                const email = window.prompt("Input email address of a person you want to invite")

                if (!email)
                    return

                const text = window.prompt("Input request text")

                SERVER.post("/email/send", null, {
                    params: {
                        address: email,
                        text: text,
                    },
                    withCredentials: true,
                });
            },
        },
        // eslint-disable-next-line no-unused-vars
        beforeRouteEnter(to, from, next) {
            console.log("before enter")
            next(vm => {
                vm.id = Number(to.params.id)
                if (AuthorStore.getters.id === Number(to.params.id)) {
                    vm.isMyPage = true
                }
                vm.load()
            })
        },
        beforeRouteUpdate(to, from, next) {
            console.log("before upd")
            this.id = Number(to.params.id)
            if (AuthorStore.getters.id === this.id)
                this.isMyPage = true
            this.load()
            next()
        },
    }
</script>

<style scoped>
    #information {
        z-index: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #ava {
        height: auto;
        max-width: 200px;
        margin: 0 auto;
    }

    #nick {
        margin-top: 10px;
        font-size: 30px;
        font-weight: lighter;
        color: black;
        font-style: italic;
    }

    #about {
        font-size: 18px;
    }

    .social-link {
        font-size: 20px;
    }

    .buttons-container {
        display: flex;
        justify-content: flex-end;
    }

    .network-logo {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
    }
</style>