<template>
    <BasePage>

        <div style="display: flex; justify-content: end;">
            <button class="negative-button" @click="deleteAccount">Delete account</button>
        </div>

        <div class="title">
            Edit data
        </div>

        <div class="block">
            <div class="block-title">
                Photo
            </div>
            <ImageUploader @error="onError" id="preview" :data="photo" :with-notes="false" :max-count="1"/>
        </div>

        <div class="block">
            <div class="block-title">
                Name
            </div>
            <input v-model="name"/>
        </div>

        <div class="block">
            <div class="block-title">
                Description
            </div>
            <textarea class="author-info" ref="infoArea" v-model="info" placeholder="Write some info about yourself" />
        </div>

        <div class="block">
            <div class="block-title">
                Social networks
            </div>
            <div style="width: 100%" class="social-container">
                <div style="width: 100%" class="column-container">
                    <div style="width: 100%; margin-left: 14px" class="social-row" v-for="(value, name) in socialConstruct" :key="name">
                        <img style="margin-right: 10px" class="network-logo" :src="value.img">
                        <input style="margin-right: 10px" width="80%" v-model="value.link">
                        <a target="_blank" rel="noopener noreferrer" class="lnk" :href="'//' + value.link">Open</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="positive-button" @click="save">Save</button>
    </BasePage>
</template>

<script>

    import BasePage from "../common/BasePage";
    import ImageUploader from "../article/writing/ImageUploader";
    import AuthorStore from "../../store/user_data_store";
    import {SERVER} from "../server-coordinator";
    import "@/styles/buttons.css";
    import "@/styles/base.css"

    export default {
        name: "MyPage",
        components: {ImageUploader, BasePage},
        data() {
            return {
                store: AuthorStore,
                photo: [],
                name: "",
                info: "",
                id: 0,
                socialConstruct: {
                    vk: {
                        img: require("@/assets/vk-logo.svg"),
                        link: "",
                    },
                    facebook: {
                        img: require("@/assets/facebook-logo.svg"),
                        link: "",
                    },
                    instagram: {
                        img: require("@/assets/instagram-logo.svg"),
                        link: "",
                    },
                    twitter: {
                        img: require("@/assets/twitter-logo.svg"),
                        link: "",
                    },
                },
            }
        },
        methods: {
            resize(){
                const area = this.$refs.infoArea
                if (area) {
                    this.$nextTick(() => {
                        area.style.height = '0px';
                        area.style.height = 'auto';
                        area.style.height = (area.scrollHeight + 10) + 'px';
                    })
                }
            },
            load() {

                // this.id = this.store.state.author
                this.info = this.store.state.author.info
                this.name = this.store.state.author.name

                for (const elem of this.store.state.author.socialNetworks) {
                    const constructEl = this.socialConstruct[elem.title.toLowerCase()]
                    if (constructEl) {
                        console.log("found", elem.title.toLowerCase())
                        constructEl.link = elem.link
                    }
                }

                this.photo.splice(0, this.photo.length)
                if (this.store.state.author.photoId) {
                    this.photo.push({
                        url: this.avatarLink,
                        idOnServer: this.store.state.author.photoId
                    })
                }


                // SERVER
                //     .get("/users/authors/author", {
                //         params: {
                //             id: this.id
                //         }
                //     })
                //     // eslint-disable-next-line no-unused-vars
                //     .then(response => {
                //
                //         this.store.commit("setAuthor", response.data)
                //
                //
                //         this.id = response.data.id
                //         this.info = response.data.info
                //         this.name = response.data.name
                //
                //         for (const elem of response.data.socialNetworks) {
                //             const constructEl = this.socialConstruct[elem.title.toLowerCase()]
                //             if (constructEl) {
                //                 console.log("found", elem.title.toLowerCase())
                //                 constructEl.link = elem.link
                //             }
                //         }
                //
                //         this.photo.splice(0, this.photo.length)
                //         if (response.data.photoId) {
                //             this.photo.push({
                //                 url: this.avatarLink,
                //                 idOnServer: response.data.photoId
                //             })
                //         }
                //     })
            },
            async save() {
                let photoId = undefined
                if (this.photo[0])
                    photoId = (await this.savePhoto()).data
                else
                    photoId = ""

                await SERVER.post("/users/update_author", {
                    name: this.name,
                    socialNetworks: this.socialConstructToArray(),
                    info: this.info,
                    photoId: photoId
                }, {
                    withCredentials: true,
                })
            },
            socialConstructToArray() {
                const arr = []

                for (const prop in this.socialConstruct) {
                    if (!Object.prototype.hasOwnProperty.call(this.socialConstruct, prop))
                        continue

                    arr.push({title: prop, link: this.socialConstruct[prop].link})
                }

                return arr
            },
            savePhoto() {
                if (this.photo.length > 0 && this.photo[0].idOnServer) {
                    // eslint-disable-next-line no-unused-vars
                    return new Promise((resolve, reject) => {
                        resolve({data: this.photo[0].idOnServer})
                    })
                } else {
                    return SERVER
                        .post(
                            "/users/save_photo",
                            this.photo[0].form,
                            {
                                headers: {"Content-Type": undefined},
                                withCredentials: true,
                            }
                        )
                }
            },
            deleteAccount() {
                if (confirm("Are you sure you want delete the account? This cannot be undone")) {
                    SERVER
                        .post("/users/delete_author", null, {
                            withCredentials: true
                        })
                        // eslint-disable-next-line no-unused-vars
                        .then(response => {
                            this.$router.go(0)
                            this.store.commit("setAuthor", undefined)
                        })
                }
            },
            onError(index) {
                console.log("error", index)
                this.photo.splice(index, 1)
            },
        },
        watch: {
            info() {
                this.resize()
            },
        },
        computed: {
            avatarLink() {
                return SERVER.defaults.baseURL + "/users/authors/avatar?id=" + this.id
            },
        },
        mounted() {
            document.title = "User settings"
        },
        beforeRouteEnter(to, from, next) {

            if (!AuthorStore.state.author) {
                next("/")
                return
            }

            SERVER.get("/users/validate", {
                withCredentials: true
            })
                // eslint-disable-next-line no-unused-vars
                .then(response => {
                    next(vm => {
                        vm.id = Number(response.data)
                        vm.load()
                    })
                })
                // eslint-disable-next-line no-unused-vars
                .catch(e => {
                    next("/")
                })
        },
    }
</script>

<style scoped>
    .social-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        align-content: space-between;
    }

    .column-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }

    .social-row {
        height: 40px;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
    }

    .author-info {
        width: 100%;
        resize: none;
        box-sizing: border-box;
        padding: 5px;
    }

    .title {
        font-size: 50px;
        text-transform: uppercase;
        color: black;
    }

    .network-logo {
        width: 30px;
        height: 30px;

    }

    .block {
        margin-bottom: 40px;
    }

    .block-title {
        font-weight: bold;
        color: gray;
        margin-bottom: 5px;
    }
</style>