<template>
    <BasePage>
        <div ref="content" class="search-list">
            <SearchItem v-for="(article, index) in articles" :key="index" :article="article"/>
        </div>
        <div class="empty-page" v-if="articles.length === 0">
            No articles found for query
            <b style="margin-left: 4px">{{text}}</b>
        </div>
    </BasePage>
</template>

<script>

    import BasePage from "../common/BasePage";
    import SearchItem from "./SearchItem";

    import {SearchBus} from "@/components/search/Bus";
    import {SERVER} from "../server-coordinator";

    import "../../styles/page.css"

    export default {
        name: "SearchPage",
        components: {BasePage, SearchItem},
        data: function () {
            return {
                articles: [],
                text: String
            };
        },
        methods: {
            searchArticles() {
                return SERVER.get("article/search", {
                    params: { text: this.text, count: 10, withText: true}
                }).then(response => {
                    this.articles.splice(0, this.articles.length);
                    response.data.forEach(el => {
                        this.articles.push(el)
                    });
                });
            },
        },
        beforeRouteUpdate(to, from, next) {
            this.text = to.query.text;
            this.searchArticles();
            SearchBus.emit("search", this.text);
            next();
        },
        created() {
            this.text = this.$route.query.text;
            this.searchArticles();
        }
    }
</script>

<style scoped>
    .search-list {
        margin: 0 auto 0;
    }
</style>