<template>
    <p style="display: inline">
        {{data.text}}
    </p>
</template>

<script>
    export default {
        name: "SimpleText",
        props: ["data"]
    }
</script>

<style scoped>

</style>