<template>
    <BaseBlock :index="index">
        <div v-if="data.length > 0" style="margin-bottom: 10px">
            <ArticleAudioPlayer v-for="(element, index) in data" :key="index" :url="element.audioURL">
                <template slot="info">
                    <div style="padding-bottom: 10px;">
                        <div style="color: darkred; cursor: pointer; display: inline-block" @click="data.splice(index, 1)">
                            Remove
                        </div>
                        <input class="audio-title" style="display: block; box-sizing: border-box; width: 100%;" type="text" v-model="element.name" />
                        <textarea @input="resizeDescription" placeholder="Description" class="audio-info audio-input-description" v-model="element.info" />
                    </div>
                </template>
            </ArticleAudioPlayer>
        </div>

        <input style="display: none" id="audio-input" ref="input" type="file" accept="audio/*" @change="addAudio($event.target.files[0])">
        <label for="audio-input" class="upload-button">
            <img width="20px" height="20px" src="@/assets/music-icon.svg">
            <span class="audio-input-text">
                Add audio
            </span>
        </label>
    </BaseBlock>
</template>

<script>
    import BaseBlock from "./BaseBlock";
    import ArticleAudioPlayer from "../../../common/ArticleAudioPlayer";

    import "@/styles/article.css"
    import {getBlobUri} from "../../../../main";

    export default {
        name: "AudioBlock",
        components: {ArticleAudioPlayer, BaseBlock},
        props: {
            index: {
                required: true,
                type: Number,
            },
            data: Array,
            showing: {
                default: false
            },
            component: undefined,
            articleCode: undefined,
        },
        methods: {
            resizeDescription(){

                const descriptions = document.getElementsByClassName("audio-input-description")

                this.$nextTick(() => {
                    descriptions.forEach(description => {
                        description.style.height = 'auto';
                        description.style.height = (description.scrollHeight + 10) + 'px';
                    })
                })
            },
            loadFromArticle(){
                if (this.component && this.articleCode) {
                    this.data.splice(0, this.data.length)
                    this.component.audios.forEach(audio => {
                        this.data.push({
                            audioURL: getBlobUri(audio.audio, this.articleCode),
                            name: audio.name,
                            info: audio.description,
                            idOnServer: audio.audio
                        })
                    })

                    this.resizeDescription()
                }
            },
            addAudio(file) {

                if (!file)
                    return;

                const formData = new FormData();
                formData.append('file', file);

                const reader = new FileReader();
                reader.onload = (e) => {
                    this.data.push({audioURL: e.target.result, name: file.name, form: formData});
                    this.$refs.input.value = [];
                };
                reader.readAsDataURL(file);
            },
        },
        watch: {
            articleCode() {
                this.loadFromArticle()
            },
            showing(value) {
                if (value) {
                    this.resizeDescription()
                }
            },
        },
        created() {
            this.loadFromArticle()
        },
    }
</script>

<style scoped>
    .upload-button {
        cursor: pointer;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
    }

    .audio-input-text {
        margin-left: 10px;
        font-size: 12pt;
        height: 100%;
        margin-top: 4px;
    }

    .audio-input-description {
        box-sizing: border-box;
        width: 100%;
        resize: none;
    }

</style>