<template>
    <div ref="block" class="baseblock" @mouseenter="mouseOver(true)" @mouseleave="mouseOver(false)">
        <slot></slot>
        <AddOrDeleteBlock ref="buttons" :index="index" :data="data"/>
    </div>
</template>

<script>

    import AddOrDeleteBlock from "../AddOrDeleteBlock";

    export default {
        name: "BaseBlock",
        components: {AddOrDeleteBlock},
        props: ["index", "data", "contextAction"],
        methods: {
            mouseOver(val) {
                this.$refs.buttons.setVisible(val);
            },
        }
    }
</script>

<style scoped>
    /*.baseblock {*/
    /*    border: 1px solid transparent;*/
    /*}*/

    /*.baseblock:hover {*/
    /*    border: 1px solid blue;*/
    /*}*/
</style>