<template>
    <div class="tagsRoot">

        <div class="tag-wrapper" v-for="(tag, index) in tags" :key="index">
            <input class="tag-input"
                   v-model="tags[index]"
                   placeholder="yourawesometag">

            <button @click="tags.splice(index, 1)" class="image-button">
                <img class="remove-image" src="@/assets/delete-icon.svg">
            </button>
        </div>


        <button class="image-button" @click="addTag">
            <img id="add" src="@/assets/add-icon.svg">
        </button>
    </div>
</template>

<script>

export default {
    name: "TagsBlock",
    props: ["tags"],
    data: function () {
        return {
            adderVisible: false,
            editIndex: -1
        };
    },
    methods: {
        addTag() {
            this.tags.push("");
        },
        deleteTag(index) {
            this.tags.splice(index, 1);
            this.editIndex = -1;
        },
        updateFocus(isVisible, entry) {
            if (isVisible) {
                entry.target.focus();
            }
        }
    }
}
</script>

<style scoped lang="scss">

$imageSize: 20px;
$gapSize: 5px;

.tagsRoot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -$gapSize;
}

#add {
    width: $imageSize;
    height: $imageSize;
    margin-left: $gapSize;
}

.tag-wrapper {
    display: flex;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: $gapSize;
}

.tag-input {
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
}

.remove-image {
    width: $imageSize;
    height: $imageSize;
}

.image-button {
    display: flex;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
</style>