<template>
    <div id="root">
        <router-view class="router"></router-view>
    </div>
</template>

<script>

    export default {
        name: 'app',
        methods: {
            updateContentMargin(headerHeight) {
                this.$refs.content.style.marginTop = headerHeight + "px";
            }
        }

    }
</script>

<style>

    #root {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin: 0 auto 0;
        width: 100%;
        height: 100vh;

        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .router {
        height: 100vh;
    }

</style>
