<template>
    <BasePage>
        <div id="login-container">
            <div id="status">
                {{userExists}}
            </div>
            <div id="fields">
                <div class="box-input">
                    <p><input type="text" name="login" size="40" style="height: 20px" v-model="loginText" required/>
                        <label>Логин</label>
                    </p>
                </div>

                <div class="box-input">
                    <p>
                        <input id="passwordInput" type="password" name="password" size="40" style="height: 20px" v-model="passwordText"
                               required/>
                        <label for="passwordInput">Пароль</label>
                    </p>
                </div>

                <button id="signInButton" v-on:click="login()" class="neutral-button" type="submit">
                    Sign in!
                </button>
            </div>
        </div>
    </BasePage>
</template>


<script>
    import {SERVER} from "../server-coordinator";
    import BasePage from "../common/BasePage";
    import AuthorStore from "../../store/user_data_store";
    import "@/styles/input.css";
    import "@/styles/buttons.css";

    export default {
        name: "LoginPage",
        components: {BasePage},
        data: function () {
            return {
                loginText: "",
                passwordText: "",
                userExists: ""
            };
        },
        methods: {
            login: function () {
                SERVER.post('/users/login', {
                    login: this.loginText,
                    password: this.passwordText
                }, {
                    headers: {'Content-Type': 'application/json'},
                    withCredentials: true
                }).then(response => {
                    if (response.status === 200) {
                        this.userExists = "Вход успешно выполнен!";
                        this.$router.push("/articles/review");
                    } else {
                        this.userExists = "Ошибка входа!"
                    }
                }).catch(this.userExists = "Некорректный логин или пароль!")
            }
        },
        beforeRouteEnter(to, from, next) {
            if (AuthorStore.state.author) {
                next("/")
            } else {
                next()
            }
        },
        mounted() {
            document.title = "Login - WTLL"
        }
    }
</script>

<style scoped>

    #fields {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-style: solid;
        border-width: 12px;
        padding: 40px 40px 20px;
        border-radius: 2px;
        /*width: 35%;*/
        /*height: 300px;*/
    }

    #signInButton {
        height: 50px;
        width: 150px;
        margin-top: 30px;
    }

    #status {
        display: flex;
        justify-content: center;
        color: red;
        font-size: 25px;
        margin: 20px;
        height: 30px;
    }

    #login-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        flex: 1;
        width: 100%;
    }

</style>

