<template>
    <HeaderPage>
        <div class="content" v-if="loaded">
            <div class="author-options-container" v-if="authorStore.getters.id">
                <router-link tag="button" :to="editLink" class="neutral-button">
                    Edit article
                </router-link>
            </div>
            <div>
                <ArticleType :value="article.config.type" />
                <Tag class="article-tag" v-for="(tag, index) in article.config.tags" :key="index" :value="tag" />
            </div>
            <div class="article-text-block type-title">{{article.config.name}}</div>

            <div v-if="article.config.authorId">
                by
                <router-link :to="authorLink" class="article-author">{{authorName}}</router-link>
            </div>
            <div class="article-illustrator"  v-if="article.config.illustrator">ILLUSTRATOR</div>
            <div class="article-date">{{new Date(article.config.creationDate).toLocaleDateString("ru")}}</div>

            <div class="components-container">
                <component
                        class="article-component"
                        v-for="(component, index) in article.components"
                        :key="index"
                        :is="componentForType(component.type)"
                        :articleCode="article.config.code"
                        :block="component"/>
            </div>
        </div>
        <div v-else class="empty-page">
            Error loading article
        </div>
    </HeaderPage>
</template>

<script>
    /* eslint-disable no-unused-vars,vue/no-unused-components */

    import HeaderPage from "../../common/BasePage";
    import ArticleImage from "../../common/ArticleImage";
    import {SERVER} from "../../server-coordinator";
    import ReadingBlockImage from "./blocks/ReadingBlockImage";
    import ReadingBlockText from "./blocks/ReadingBlockText";
    import ReadingBlockAudio from "./blocks/ReadingBlockAudio";
    import AuthorStore from "../../../store/user_data_store";

    import Tag from "./Tag";

    import "@/styles/article.css";
    import "@/styles/buttons.css";
    import "@/styles/page.css";
    import ArticleType from "./ArticleType";

    export default {
        name: "ArticleReadingPage",
        components: {ArticleType, Tag, ArticleImage, HeaderPage, ReadingBlockImage, ReadingBlockText, ReadingBlockAudio},
        data: function () {
            return {
                article: Object,
                loaded: false,
                authorLink: undefined,
                authorName: "Publisher",
                authorStore: AuthorStore,
            };
        },
        methods: {
            loadArticle(articleCode) {
                SERVER
                    .get("article/read", {params: {id: articleCode, withText: true}})
                    .then(response => {
                        this.article = response.data;
                        this.loaded = true;
                    })
                    .catch(e => {
                        this.loaded = false;
                    });
            },
            componentForType(type) {
                switch (type) {
                    case 'text':
                        return 'ReadingBlockText';
                    case 'image':
                        return 'ReadingBlockImage';
                    case 'audio':
                        return 'ReadingBlockAudio';
                    default :
                        return 'TextBlock';
                }
            }
        },
        watch: {
            article(value) {

                if (value) {
                    document.title = value.config.name + " - WTLL"
                } else {
                    document.title = "WTLL"
                }

                this.authorLink = '/author/' + value.config.authorId
                SERVER
                    .get("users/authors/author", {params: {id: value.config.authorId}})
                    .then(response => {
                        this.authorName = response.data.name
                    })
                    .catch(e => {
                        this.authorName = "Publisher"
                    });
            },
        },
        computed: {
            editLink() {
                return '/write/' + this.article.config.code + '/?type=public'
            }
        },
        mounted() {
            this.loadArticle(this.$route.params.code);
        },
        beforeRouteUpdate(to, from, next) {
            this.loadArticle(to.params.code);
            next();
        }
    }
</script>

<style scoped>
    .content {
        margin: 0 auto 0;
        padding: 10px 0;
        width: 100%;
        /*word-wrap: break-word;*/
    }

    /*@media (max-width: 600px) {*/
    /*    .content {*/
    /*        margin: 0 auto 0;*/
    /*        padding: 10px 10px;*/
    /*        !*word-wrap: break-word;*!*/
    /*    }*/
    /*}*/

    .components-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .article-component {
        margin-bottom: 20px;
    }

    .author-options-container {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>