<template>
    <router-link class="article-tag" :to="link">
        {{value.toUpperCase()}}
    </router-link>
</template>

<script>
    import "@/styles/article.css";

    export default {
        name: "Tag",
        props: {
            value: {
                required: true,
                type: String
            }
        },
        data() {
            return {
                link: "/search?text=%23" + this.value
            }
        }
    }
</script>

<style scoped>

</style>