.article-tag {
    border: 1px solid black;
    border-radius: 4px;
    width: fit-content;
    padding: 3px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    display: inline-block;
}

.article-text-block {
    color: black;
}

.type-simple {
    font-size: 16pt;
    color: #2c2c2c;
}

.type-title {
    font-size: 48pt;
    font-weight: bolder;
}

.type-subtitle {
    font-size: 32pt;
    font-weight: bold;
}

.type-lead {
    font-size: 24pt;
}

.type-sidebar {
    color: gray;
    font-size: 14pt;
    padding-left: 40px;
}

.audio-title {
    font-size: 16pt;
    font-weight: bold;
    color: black;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.audio-info {
    font-size: 12pt;
    box-sizing: border-box;
    width: 100%;
    resize: none;
}