.box-input
{
    position: relative;
}

.box-input input
{
    border: none;
    border-bottom: 2px solid #e9eaea;
    padding: 10px 10px;
}
.box-input label
{
    position: absolute;
    left: 10px;
    margin-top: 13px;
    color: black;
    transition: .5s;
    pointer-events: none;
}
.box-input input:focus ~ label,
.box-input input:valid ~ label
{
    top: -20px;
    left: 0;
    font-size: 14px;
    color: green;
}