$articleTypeGapSize: 5px;
$categoryGapSize: 40px;

.article-text-input {
    border: 1px solid transparent;
    outline: none;
    resize: none;
}

.article-text-input:focus {
    border: 1px solid blue;
    outline: 1px;
}


.article-text-input:hover {
    border: 1px solid blue;
    outline: 1px;
}

.settings-category-title {
    display: block;
    font-weight: bold;
    color: gray;
    margin-bottom: 5px;
}

.settings-category {
    margin-top: $categoryGapSize;
}
