<template>
    <BasePage>
        <div id="registerContent">

            <div id="status">
                {{userExists}}
            </div>
            <div>
                <div id="fields">
                    <div class="box-input">
                        <p><input type="password" name="password" size="40" style="height: 20px" v-model="codeText"
                                  required/>
                            <label>Код регистрации</label></p>
                    </div>

                    <div class="box-input">
                        <p><input type="text" name="login" size="40" style="height: 20px" v-model="loginText" required/>
                            <label>Логин</label>
                        </p>
                    </div>

                    <div class="box-input">
                        <p><input type="password" name="password" size="40" style="height: 20px" v-model="passwordText"
                                  required/>
                            <label>Пароль</label></p>
                    </div>

                    <button id="signInButton" v-on:click="register()" class="neutral-button" type="submit">
                        Sign up!
                    </button>
                </div>
            </div>
        </div>
    </BasePage>
</template>

<script>
    import {SERVER} from "../server-coordinator";
    import "@/styles/input.css";
    import BasePage from "../common/BasePage";
    import "@/styles/buttons.css";
    import AuthorStore from "../../store/user_data_store";

    export default {
        name: "RegisterPage",
        components: {BasePage},
        data: function () {
            return {
                loginText: "",
                passwordText: "",
                userExists: "",
                codeText: "",
            }
        },
        methods: {
            register: function () {
                SERVER.post('/users/register', {
                    login: this.loginText,
                    password: this.passwordText,
                    key: this.codeText,
                }, {
                    headers: {'Content-Type': 'application/json'},
                    withCredentials: true
                }).then(response => {
                    this.userExists = response.data;
                    this.$router.push("/settings");
                    // eslint-disable-next-line no-unused-vars
                }).catch(e => {
                    this.userExists = e.response.data
                })
            }
        },
        beforeRouteEnter(to, from, next) {
            if (AuthorStore.state.author) {
                next("/")
            } else {
                next()
            }
        },
        mounted() {
            document.title = "Register - WTLL"
            if (this.$route.query.code) {
                this.codeText = this.$route.query.code
            }
        }
    }
</script>

<style scoped>
    #fields {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        border-style: solid;
        border-width: 12px;
        padding: 40px 40px 20px;
        /*width: 100%;*/
        border-radius: 2px;
        /*width: 35%;*/
        /*height: 300px;*/
    }

    #signInButton {
        height: 50px;
        width: 150px;
        margin-top: 30px;
    }

    #status {
        display: flex;
        justify-content: center;
        color: red;
        font-size: 25px;
        margin: 20px;
        height: 30px;
    }

    #registerContent {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        flex: 1;
        width: 100%;
    }

</style>