<template>
    <div class="base-root" ref="pageroot">
        <div ref="headerCont" style="display: flex">
            <slot ref="sloot" name="header" v-if="showHeader">
                <Header v-on:height-computed="updateContentMargin" ref="header" id="header"/>
            </slot>
        </div>
        <div class="content" ref="content">
            <slot></slot>
        </div>

        <footer id="footer" ref="footer" v-if="showFooter">
            <slot name="footer" v-if="showFooter">
                <Footer />
            </slot>
        </footer>
    </div>
</template>

<script>
    import Header from "./Header";
    import Footer from "./Footer";
    import mitt from 'mitt';

    export const BasePageContentBus = mitt()

    export default {
        name: "HeaderPage",
        components: {Footer, Header},
        props: {
            showHeader: {
                default: true,
                type: Boolean
            },
            showFooter: {
                default: true,
                type: Boolean
            },
            footerComponent: {
                default: "Footer",
                type: String
            }
        },
        methods: {
            updateContentMargin(headerHeight) {
                this.$refs.content.style.marginTop = headerHeight + "px";
            },
            onScroll() {
                // const headerHeight = this.$refs.headerCont.firstChild.clientHeight

                const footerHeight = this.$refs.footer ? this.$refs.footer.clientHeight : 0

                if (!this.$refs.pageroot) {
                    console.log("how is that")
                    return
                }

                BasePageContentBus.emit("scroll-bottom", this.$refs.pageroot.clientHeight - window.scrollY - window.innerHeight - footerHeight)
            }
        },
        created() {
            window.addEventListener('scroll', this.onScroll);
        },
        computed: {

        }
    }
</script>

<style scoped>
    #header {
        position: fixed;
        z-index: 999;
        top: 0;
        background: white;
        padding-left: 50px;
        padding-right: 50px;
    }

    #footer {
        width: 100%;
        flex-shrink: 0;
    }

    .base-root {
        display: flex;
        flex-direction: column;
    }

    @media {
        .content {
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            /*min-height: 100%;*/
            flex: 1 0;
            /*width: 100%;*/
            box-sizing: border-box;
        }
    }

    @media (min-width: 600px) {
        .content {
            padding: 20px 50px;
            flex-direction: column;
            /*min-height: 100%;*/
            flex: 1 0;
            /*height: 100%;*/
            /*width: 100%;*/
            box-sizing: border-box;
        }
    }
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    html {
        height: 100%;
    }
</style>