<template>
    <div class="footer">

        <div class="left-float">
            <div class="footer-category inline">
                <div class="footer-category-title">
                    Authors
                </div>
                <div class="footer-category-content"
                     v-for="(author, index) in authors"
                     :key="index">
                    <a :href="'/author/' + author.id" style="color: lightgray">
                        {{author.name}}
                    </a>
                </div>
            </div>

            <div class="footer-category">
                <div class="footer-category-title">
                    Design
                </div>
                <div class="footer-category-content">
                    Дарья Гаврилова
                </div>

                <div class="footer-category-title">
                    Site
                </div>
                <div class="footer-category-content">
                    PA, MA, ZT, RA, KA
                </div>
            </div>
        </div>
        <div class="right-float">
            <div class="footer-category">
                <div class="footer-category-title">
                    Our networks
                </div>
                <div class="footer-category-content">
                    <a href="https://vk.com/wherethelegendslive">
                        <img style="margin-right: 10px" class="network-logo" src="@/assets/vk-logo.svg">
                    </a>
                    <a href="https://www.instagram.com/wll_media">
                        <img style="margin-right: 10px" class="network-logo" src="@/assets/instagram-logo.svg">
                    </a>
                    <a href="https://www.facebook.com/wherethelegendslive">
                        <img style="padding: 2px; margin-left: -4px; margin-right: 10px" class="network-logo"
                             src="@/assets/facebook-logo.svg">
                    </a>
                </div>

                <div class="footer-category-title">
                    Connect us
                </div>
                <div class="footer-category-content">
                    wherethelegendslive@gmail.com
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {SERVER} from "../server-coordinator";

    export default {
        name: "Footer",
        data() {
            return {
                authors: []
            }
        },
        methods: {},
        mounted() {
            SERVER
                .get("/users/authors/all")
                .then(response => {
                    this.authors.push(...response.data)
                    // eslint-disable-next-line no-unused-vars
                }).catch(e => {});
        }
    }
</script>

<style scoped>
    .footer {
        display: flex;
        justify-content: space-between;
        background: black;
        background-size: 100%;
        padding: 0 20px 20px;
        overflow: auto;

        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .footer-category-title {
        color: white;
        font-size: 14pt;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .footer-category-content {
        color: lightgray;
        font-size: 12pt;
    }

    .footer-category {
        padding: 0 20px 0;
        width: fit-content;
    }

    .inline {

    }

    .left-float {
        display: flex;
        flex-direction: row;
        float: left;
    }

    .right-float {
        float: right;
    }

    .network-logo {
        width: 20px;
        height: 20px;
        filter: invert(100%);
        box-sizing: border-box;
    }
</style>