<template>
    <div ref="headerroot" class="header">
        <img ref="himage"
             @load="emitHeightComputed"
             class="header-image"
             src="@/assets/header_image.png"/>
        <div class="links-line">
            <div class="lnks" style="flex: 1">
                <router-link v-for="(link, index) in links" :key="index" class="link-item" :to="link.link">{{
                    link.name.toUpperCase() }}
                </router-link>
                <SearchWidget class="widget" ref="searchWidget" :search="search" placeholder="Search articles"
                              @submit="openArticle" :get-result-value="getResult">
                    <template #result="{ result, props }">
                        <li class="search-item" v-bind="props">
                            <div class="search-result-text">
                                <div class="search-result-title">{{result.config.name}}</div>
                                <div class="search-result-subtitle">{{getArticleTagsString(result)}}</div>
                            </div>
                            <ImageHelper
                                    class="search-preview-image"
                                    :article-code="result.config.code"
                                    :image-code="result.config.preview"
                                    width="40px"
                                    height="40px"/>
                        </li>
                    </template>
                </SearchWidget>
            </div>
            <Popper
                    ref="popper"
                    :options="{placement: 'bottom'}"
                    trigger="clickToToggle"
                    v-if="store.state.author">
                <div class="author-menu">
                    <div @click="onAuthorOption(option)" class="author-option" v-for="(option, i) in authorOptions" :key="i">
                        {{option.title}}
                    </div>
                </div>

                <button style="background: transparent; border-width: 0" slot="reference">
                    <img class="avatar" @error="defaultAvatar = true" :src="authorAvatar">
                </button>
            </Popper>
        </div>
    </div>
</template>

<script>

    import SearchWidget from "@trevoreyre/autocomplete-vue"
    import ImageHelper from "./ImageHelper";
    // eslint-disable-next-line no-unused-vars
    import {SearchBus} from "@/components/search/Bus";
    import AuthorStore from "../../store/user_data_store";
    import Popper from 'vue-popperjs';

    import {SERVER} from "../server-coordinator";

    import '@trevoreyre/autocomplete-vue/dist/style.css'

    export default {
        name: "Header",
        // eslint-disable-next-line vue/no-unused-components
        components: {ImageHelper, SearchWidget, Popper},
        props: ["toSearch"],
        data: function () {
            return {
                links: [
                    {link: "/articles/review", name: "Reviews"},
                    {link: "/articles/longread", name: "Longreads"},
                    {link: "/articles/compilation", name: "Compilations"},
                    {link: "/articles/podcast", name: "Podcasts"},
                    {link: "/about", name: "About us"},
                ],
                originalImageHeight: 0,
                searchText: "",
                store: AuthorStore,
                defaultAvatar: false,
                authorOptions: [
                    {
                        title: "Open profile",
                        action: () => {
                            const id = this.store.state.author.id
                            this.$router.push("/author/" + id)
                        },
                    },
                    {
                        title: "Write an article",
                        action: () => {
                            this.$router.push("/write")
                        },
                    },
                ],
            };
        },
        methods: {
            search(input) {
                return new Promise(resolve => {
                    if (input.length < 3) {
                        return resolve([])
                    }

                    return SERVER.get("article/search", {
                        params: {text: input, count: 5}
                    }).then(response => {
                        resolve(response.data);
                    });
                });
            },
            onAuthorOption(option) {
                option.action()
                this.$refs.popper.showPopper = false
            },
            searchFull(input) {
                if (input) {
                    this.$router.push({path: '/search', query: {text: input}})
                }
            },
            getArticleTagsString(article) {
                return article.config.tags.map(tag => "#" + tag).join(" ")
            },
            // eslint-disable-next-line no-unused-vars
            onPageScroll(event) {
                if (document.documentElement.scrollTop) {
                    this.$refs.headerroot.style.boxShadow = "0 0 2px #000";
                    this.$refs.headerroot.style.transform = "translate(0, " + (-Math.min(document.documentElement.scrollTop, this.originalImageHeight)) + "px"
                } else {
                    this.$refs.headerroot.style.boxShadow = "";
                    this.$refs.headerroot.style.transform = "translate(0, 0)"
                }
            },
            emitHeightComputed() {
                this.originalImageHeight = this.$refs.himage.offsetHeight;
                this.$emit("height-computed", this.$refs.headerroot.offsetHeight);
            },
            openArticle(result) {
                if (result) {
                    this.$refs.searchWidget.value = "";
                    this.$router.push({path: `/read/${result.config.code}`});
                } else {
                    this.searchFull(this.$refs.searchWidget.value);
                }
            },
            getResult(article) {
                return article.config.code
            },
            updateSearchText(text) {
                if (text) {
                    this.$refs.searchWidget.value = text;
                } else if (this.$route.path === "/search" && this.$route.query.text) {
                    this.$refs.searchWidget.value = this.$route.query.text;
                } else {
                    this.$refs.searchWidget.value = "";
                }
            },
        },
        created: function () {
            window.addEventListener('scroll', this.onPageScroll);
        },
        destroyed: function () {
            window.removeEventListener('scroll', this.onPageScroll);
        },
        computed: {
            searchResults() {
                return this.articles.slice(0, 5);
            },
            authorAvatar() {
                return this.defaultAvatar ? require("@/assets/avatars/default.jpg") : this.store.getters.avatarUrl
            }
        },
        mounted() {
            this.updateSearchText();
            SearchBus.on("search", this.updateSearchText);
        },
        beforeDestroy() {
            SearchBus.off("search", this.updateSearchText);
        },
        beforeRouteEnter(to, from, next) {
            this.updateSearchText();
            next();
        },
        beforeRouteUpdate(to, from, next) {
            this.updateSearchText();
            next();
        }
    }
</script>

<style scoped>
    .header-image {
        width: 100%;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .links {
        width: 100%;
        margin: 0 auto 0;
        border-collapse: collapse;
    }

    .lnks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        display: table-row;
    }

    .search-item {
        display: flex;
        justify-content: space-between;
        /*height: fit-content;*/
    }

    /*@media screen and (max-width: 768px) {*/
    /*    .header {*/
    /*        display: none;*/
    /*    }*/
    /*}*/

    .link-item {
        color: black;
        text-decoration: none;
        font-weight: bolder;
    }

    .link-item:hover {
        text-decoration: underline;
    }

    a.router-link-active {
        text-decoration: underline;
    }

    .search-result-title {
        font-size: 14pt;
        font-weight: bold;
    }

    .search-result-subtitle {
        font-size: 10pt;
    }

    .search-result-text {
        display: flex;
        width: border-box;
        justify-content: center;
        flex-direction: column;
    }

    .search-preview-image {
        float: right;
        object-fit: cover;
        height: 40px;
        width: 40px;
    }

    .widget {
        min-width: 200px;
        width: 30%;
    }

    .avatar {
        width: 40px;
        height: auto;
        cursor: pointer;
    }

    .links-line {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
    }

    .author-menu {
        color: black;
        border-radius: 5px;
        background: white;
        padding: 3px 0;
        box-shadow: 0 0 4px gray;
    }

    .author-option {
        border-color: black;
        border-width: 10px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
    }

    .author-option:hover {
        background: lightgrey;
    }
</style>
