<template>
    <div style="margin: 10px 0">
        <div class="settings-category">
            <label class="settings-category-title" for="title">Title</label>
            <input
                    class="article-text-input type-title"
                    style="width: 100%"
                    type="text"
                    id="title"
                    v-model="titleText"
                    placeholder="Article title">
        </div>

        <div class="settings-category">
            <label class="settings-category-title" for="preview">Image preview</label>
            <ImageUploader id="preview" :data="preview" :with-notes="false" :max-count="1"/>
        </div>
    </div>
</template>

<script>
    import ImageUploader from "./ImageUploader";

    import "@/styles/writing.scss"
    import "@/styles/article.css"
    import WritingStore from "../../../store/writing_page_store";
    import {getBlobUri} from "../../../main";

    export default {
        name: "ArticleCoverTab",
        components: {ImageUploader},
        props: ["showing", "article"],
        data() {
            return {
                store: WritingStore,
                titleText: "",
                preview: [],
            }
        },
        methods: {
            loadFromArticle() {
                this.preview.splice(0, this.preview.length)

                if (!this.article) {
                    this.titleText = ""
                    return
                }

                this.titleText = this.article.config.name

                if (this.article.config.preview !== '0') {
                    this.preview.push({
                        url: getBlobUri(this.article.config.preview, this.article.config.code),
                        idOnServer: this.article.config.preview
                    })
                }

            },
        },
        watch: {
            titleText() {
                this.store.commit("setTitle", this.titleText)
            },
            preview(value) {
                if (value && value.length > 0) {
                    this.store.commit("setPreview", {
                        form: value[0].form,
                        content: value[0].url,
                        idOnServer: value[0].idOnServer
                    });
                } else {
                    this.store.commit("setPreview", null);
                }
            },
            article() {
                this.loadFromArticle()
            }
        },
        created() {
            this.loadFromArticle()
        },
    }
</script>

<style scoped>

</style>