<template>
    <div class="root">
        <div class="settings-category">
            <span class="settings-category-title">
                Category
            </span>
            <div id="type-wrapper">
                <div class="article-type-wrapper" v-for="(type, index) in articleTypes" :key="type">
                    <input type="radio"
                           name="article-type"
                           class="radio-button"
                           :id="type + '-article'"
                           :value="index"
                           :checked="true"
                           v-model="articleType">
                    <label class="radio-container" :for="type + '-article'">
                        {{type}}
                    </label>
                </div>
            </div>
        </div>

        <div class="settings-category">
            <span class="settings-category-title">
                Tags
            </span>
            <TagsBlock :tags="tags"/>
        </div>

        <div class="settings-category">
            <span class="settings-category-title">
                Main in category
            </span>
            <div style="display: flex; align-items: flex-end">
                <input type="checkbox" id="main" v-model="isMain" style="margin: 0 10px 0 0;">
                <label for="main" style="margin-bottom: -4px">Mark as main</label>
            </div>
        </div>
    </div>
</template>

<script>

    import TagsBlock from "./blocks/TagsBlock";

    import WritingStore from "../../../store/writing_page_store";

    export default {
        name: "ArticleSettingsTab",
        components: {TagsBlock},
        props: ["showing", "article"],
        data() {
            return {
                store: WritingStore,
                articleTypes: WritingStore.getters.articleTypes,
                articleType: 0,
                tags: [],
                isMain: false,
            }
        },
        methods: {
            loadFromArticle() {
                this.clear()
                if (this.article) {
                    this.isMain = this.article.main
                    this.articleType = this.articleTypes.indexOf(this.article.config.type)
                    this.tags.push(...this.article.config.tags)
                }
            },
            clear() {
                this.isMain = false
                this.articleType = 0
                this.tags.splice(0, this.tags.length)
            }
        },
        watch: {
            articleType(value) {
                this.store.commit("setArticleType", value);
            },
            isMain(value) {
                this.store.commit("setMain", value);
            },
            tags(value) {
                this.store.commit("setTags", value);
            },
            article() {
                this.loadFromArticle()
            }
        },
        mounted() {
            this.loadFromArticle()
        }
    }
</script>

<style scoped lang="scss">

    @import "src/styles/writing";

    .root {
        display: flex;
        flex-direction: column;
        margin-top: -$categoryGapSize;
    }

    .radio-container {
        display: inline-block;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px 5px 1px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .radio-button {
        display: none;
    }

    .radio-button + .radio-container {
        background: white;
    }

    .radio-button:checked + .radio-container {
        background: black;
        color: white;
    }

    .radio-container:hover {
        color: sienna;
    }

    .article-type-wrapper {
        margin: $articleTypeGapSize;
    }

    #type-wrapper {
        display: inline-flex;
        flex-wrap: wrap;
        margin-left: -$articleTypeGapSize;
    }
</style>