<template>
    <BasePage :show-footer="false">

        <div style="width: 100%">
            <div class="tab-name-container">
                <div v-for="(tabGroup, groupIndex) in allTabs" :key="groupIndex">
                    <div
                            @click="selectTab(groupIndex, tabIndex)"
                            :class="[tab.titleClass, {[tab.activeTitleClass]: isActive(groupIndex, tabIndex)}]"
                            style="display: inline-flex"
                            v-for="(tab, tabIndex) in tabGroup"
                            :key="tabIndex">
                        {{tab.name}}
                    </div>
                </div>
            </div>

            <div style="margin-top: 40px">
                <div v-for="(tabGroup, groupIndex) in allTabs" :key="groupIndex">
                    <div v-for="(tab, tabIndex) in tabGroup" :key="tabIndex">
                        <component :article="article" :showing="isActive(groupIndex, tabIndex)" v-show="isActive(groupIndex, tabIndex)" :is="tab.component" />
                    </div>
                </div>
            </div>
        </div>

        <div class="submit-block">

            <div v-show="errorMessage" style="color: red; font-weight: bold">
                {{errorMessage}}
            </div>

            <button id="save" class="save-button" @click="saveArticle(false)">Опубликовать</button>
            <button id="save-draft" class="save-button" @click="saveArticle(true)">Отложить</button>
        </div>
    </BasePage>
</template>

<script>
    /* eslint-disable vue/no-unused-components */

    import BasePage from "../../common/BasePage";

    import TabsLayout from "./TabsLayout";
    import Tab from "./Tab";

    import ArticleContentTab from "./ArticleContentTab";
    import ArticleCoverTab from "./ArticleCoverTab";
    import ArticleSettingsTab from "./ArticleSettingsTab";
    import DraftsTab from "./DraftsTab";

    import {SERVER} from "../../server-coordinator";

    import WritingStore from "../../../store/writing_page_store";

    export default {
        name: "ArticleWrite",
        components: {
            Tab,
            TabsLayout,
            BasePage, ArticleSettingsTab, ArticleCoverTab, ArticleContentTab, DraftsTab
        },
        data() {
            return {
                error: false,
                errorMessage: "",
                store: WritingStore,
                article: undefined,
                allTabs: [
                    [
                        {
                            titleClass: "regular-tab",
                            activeTitleClass: "active-regular-tab",
                            name: "Title&Cover",
                            component: "ArticleCoverTab"
                        },
                        {
                            titleClass: "regular-tab",
                            activeTitleClass: "active-regular-tab",
                            name: "Content",
                            component: "ArticleContentTab",
                        },
                        {
                            titleClass: "regular-tab",
                            activeTitleClass: "active-regular-tab",
                            name: "Settings",
                            component: "ArticleSettingsTab",
                        },
                    ], [
                        {
                            titleClass: "draft-tab",
                            activeTitleClass: "active-draft-tab",
                            name: "Drafts",
                            component: "DraftsTab",
                        },
                    ],
                ],
                currentTab: {group: 0, tab: 0}
            }
        },
        methods: {
            async getComponents(articleName) {
                const components = [];
                for (const b of this.store.state.blocks) {
                    switch (b.type) {
                        case "text": {
                            components.push({
                                type: "text", text: b.data, config: {
                                    blockType: b.style
                                }
                            });
                            break;
                        }
                        case "image": {
                            let images = [];

                            for (const img of b.data) {
                                const fileName = await this.saveBlob2(img, articleName);
                                images.push({image: fileName.data, note: img.note});
                            }

                            components.push({type: b.type, images: images});

                            break;
                        }
                        case "audio": {

                            let audios = [];

                            for (const aud of b.data) {
                                const fileName = await this.saveBlob2(aud, articleName);
                                audios.push({audio: fileName.data, name: aud.name, description: aud.info});
                            }

                            components.push({type: b.type, audios: audios});

                            break;
                        }
                    }
                }

                return components;
            },
            saveBlob2(blobContainer, articleName) {
                if (blobContainer.idOnServer) {
                    if (this.article.config.name !== articleName) {
                        return SERVER
                            .post(
                                "/article/copy_file",
                                null,
                                {
                                    headers: {"Content-Type": undefined},
                                    params: {
                                        articleFrom: this.article.config.name,
                                        articleTo: articleName,
                                        fileCode: blobContainer.idOnServer,
                                    },
                                    withCredentials: true,
                                }
                            )
                    } else {
                        // eslint-disable-next-line no-unused-vars
                        return new Promise((resolve, reject) => {
                            resolve({data: blobContainer.idOnServer})
                        })
                    }
                } else {
                    return SERVER
                        .post(
                            "/article/save_file",
                            blobContainer.form,
                            {
                                headers: {"Content-Type": undefined},
                                params: {
                                    article: articleName
                                },
                                withCredentials: true,
                            }
                        )
                }
            },
            checkArticle() {
                if (!this.store.state.title) {
                    this.errorMessage = "Provide article title!";
                    return false;
                }

                if (!this.store.state.preview) {
                    this.errorMessage = "Provide article preview!";
                    return false;
                }

                return true;
            },
            saveArticle(asDraft) {
                if (asDraft && !this.store.state.title) {
                    this.errorMessage = "Need at least title to save as draft!"
                    return;
                }

                if (!asDraft && !this.checkArticle()) {
                    return;
                }

                this.errorMessage = null;
                this.createArticle(asDraft);
            },
            async createArticle(asDraft) {
                const articleName = this.store.state.title;

                const components = await this.getComponents(articleName);

                let previewID = "";

                if (this.store.state.preview) {
                    previewID = (await this.saveBlob2(this.store.state.preview, articleName)).data;
                }

                const articleData = {
                    config: {
                        name: articleName,
                        state: asDraft ? "draft" : "public",
                        type: this.store.getters.articleTypes[this.store.state.articleTypeIndex],
                        preview: previewID,
                        tags: this.store.state.tags
                    },
                    components: components,
                    main: this.store.state.isMain,
                };

                SERVER.post('/article/save',
                    articleData,
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        withCredentials: true
                    })
                    .then((response) => {
                        // eslint-disable-next-line no-console
                        console.log(response);
                    })
                    .catch((error) => {
                        // eslint-disable-next-line no-console
                        console.log(error);
                    });
            },
            selectTab(group, tab) {
                this.currentTab = {group, tab};

            },
            isActive(group, tab) {
                return this.currentTab.group === group && this.currentTab.tab === tab;
            },
            tryLoadArticle(articleCode, visibility) {
                return SERVER
                    .get("article/read", {params: {id: articleCode, withText: true, visibility}})
            },
            async loadArticle(articleCode) {
                if (articleCode === undefined) {
                    return
                }

                const types = ["public", "draft"]
                const visibilityParam = this.$route.query.type

                if (types.indexOf(visibilityParam) >= 0) {
                    try {
                        const response = await this.tryLoadArticle(articleCode, visibilityParam)
                        if (response.data) {
                            this.article = response.data
                            return
                        }
                        // eslint-disable-next-line no-empty
                    } catch (e) {

                    }
                } else if (!visibilityParam) {
                    for (const visibility of types) {
                        try {
                            const response = await this.tryLoadArticle(articleCode, visibility)
                            if (response.data) {
                                this.article = response.data
                                this.$router.push("/write/" + articleCode + "/?type=" + visibility)
                                break
                            }
                            // eslint-disable-next-line no-empty
                        } catch (e) {

                        }
                    }
                }

                if (!this.article) {
                    this.$router.push("/write")
                }
            },
        },
        beforeRouteEnter (to, from, next) {
            SERVER.get('/users/validate', {
                withCredentials: true
            })
                .then((response) => {
                    // eslint-disable-next-line no-console
                    console.log(response);
                    next()
                })
                .catch((error) => {
                    // eslint-disable-next-line no-console
                    console.log(error);
                    next("/login")
                });
        },
        watch: {
            article(value) {
                if (!value) {
                    this.$router.push("/write")
                    document.title = "New article - WTLL"
                } else {
                    document.title = "Edit \"" + value.config.name + "\" - WTLL"
                }
            },
        },
        mounted() {
            const code = this.$route.params.code
            this.loadArticle(code);
            document.title = "New article - WTLL"
        },
        beforeRouteUpdate(to, from, next) {
            const code = to.params.code
            this.loadArticle(code);
            this.selectTab(0, 0)

            next();
        }
    }
</script>

<style scoped lang="scss">

    $tabNameMargin: 10px;

    .tab-name-container {
        display: flex;
        justify-content: space-between;
        margin-left: -$tabNameMargin;
        margin-right: -$tabNameMargin;
    }

    #save {
        background: dodgerblue;
        border: 1px solid dodgerblue;
        margin-right: 10px;
        color: white;
    }

    #save:hover {
        background: black;
    }

    #save-draft {
        background: white;
        border: 1px solid black;
    }

    #save-draft:hover {
        background: black;
        color: white;
    }

    .save-button {
        padding: 5px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }

    .submit-block {
        margin-top: 60px;
    }

    .regular-tab {
        color: gray;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        margin: 0 $tabNameMargin;
    }

    .active-regular-tab {
        color: black;
    }

    .draft-tab {
        color: darkred;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        margin: 0 $tabNameMargin;
    }

    .active-draft-tab {
        color: red;
    }
</style>