<template>
    <div>

        <input
                type="text"
                :value="store.state.title"
                class="article-text-input type-title"
                style="background: transparent; border: transparent; width: 100%"
                placeholder="Title"
                disabled>

        <AddOrDeleteBlock :index="-1" :show-delete="false"/>

        <div id="content" class="content">
            <component v-for="(block, index) in blocks"
                       :is="componentForType(block.type)"
                       :key="block.id"
                       :data="block.data"
                       :component="block.component"
                       :articleCode="articleCode"
                       :showing="showing"
                       :index="index"
                       v-on:datachange="onTextBlockDataChanged"/>
        </div>
    </div>
</template>

<script>
    import AddOrDeleteBlock from "./AddOrDeleteBlock";
    import TextBlock from "./blocks/TextBlock";
    import ImageBlock from "./blocks/ImageBlock";
    import AudioBlock from "./blocks/AudioBlock";
    import mitt from "mitt";
    import WritingStore from "../../../store/writing_page_store";
    import "@/styles/article.css";
    import "@/styles/writing.scss";

    export const BlocksEventBus = mitt();

    export default {
        name: "ArticleContentTab",
        components: {AddOrDeleteBlock, TextBlock, ImageBlock, AudioBlock},
        props: ["showing", "article"],
        data() {
            return {
                store: WritingStore,
                count: 0,
                blocks: WritingStore.state.blocks,
                articleCode: undefined
            }
        },
        methods: {
            addBlock(blockConstructionData) {
                let afterIndex = blockConstructionData.afterIndex;
                let type = blockConstructionData.type;

                if (afterIndex < -1)
                    afterIndex = -1;

                if (afterIndex > this.blocks.length - 1)
                    afterIndex = this.blocks.length - 1;

                this.blocks.splice(afterIndex + 1, 0, this.newBlockOfType(type, blockConstructionData.component));
            },
            newBlockOfType(type, component) {
                this.count++;
                switch (type) {
                    case 'text':
                        return {data: "", id: this.count, type: type, component};
                    case 'image':
                        return {data: [], id: this.count, type: type, component};
                    case 'audio':
                        return {data: [], id: this.count, type: type, component};
                    default: {
                        throw DOMException
                    }
                }
            },
            componentForType(type) {
                switch (type) {
                    case 'text':
                        return 'TextBlock';
                    case 'image':
                        return 'ImageBlock';
                    case 'audio':
                        return 'AudioBlock';
                    default :
                        return 'TextBlock';
                }
            },
            onTextBlockDataChanged(index, data) {
                // Non-reactive so we don't re-render page and don't fall to the endless(?) loop
                this.blocks[index].data = data;
                this.store.commit("onTextBlockDataChanged", {index, data})
            },
            deleteBlock(index) {
                this.blocks.splice(index, 1);
            },
            setImages(index, forms, uris) {
                this.blocks[index].data = {form: forms, content: uris};
            },
        },
        mounted() {
            BlocksEventBus.on("newblock", this.addBlock);
            BlocksEventBus.on("delete", this.deleteBlock);
            BlocksEventBus.on("datachange", this.onTextBlockDataChanged);
        },
        watch: {
            blocks(value) {
                this.store.commit("setComponents", value)
            },
            article(value) {
                this.blocks.splice(0, this.blocks.length)
                if (value) {
                    this.articleCode = this.article.config.code
                    // eslint-disable-next-line no-unused-vars
                    for (const component of value.components) {
                        this.addBlock({type: component.type, afterIndex: this.blocks.length - 1, component})
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>