<template>
    <div class="card">
        <router-link :to="link">
            <ArticleImage class="preview-image" :article-code="article.config.code"
                          :image-code="article.config.preview"/>
        </router-link>
        <div class="preview-text-block">
            <div style="padding-bottom: 10px">
                <ArticleType :value="article.config.type" />
                <Tag
                        v-for="(tag, index) in article.config.tags"
                        :key="index"
                        :value="tag" />
            </div>
            <div class="preview-title">
                <router-link :to="link">
                    {{article.config.name}}
                </router-link>
            </div>
            <div>{{getArticleDate(article)}}</div>
        </div>
    </div>
</template>

<script>

    import ArticleImage from "../../common/ArticleImage";
    import ArticleType from "../../article/reading/ArticleType";

    import "../../../styles/article.css";
    import Tag from "../../article/reading/Tag";

    export default {
        name: "DraftArticlePreview",
        components: {Tag, ArticleType, ArticleImage},
        props: {
            article: {
                required: true,
                type: Object
            }
        },
        data: function () {
            return {
                link: "/write/" + this.article.config.code + "/?type=draft"
            };
        },
        methods: {
            getArticleDate(article) {
                const date = new Date(article.config.lastModifiedDate);

                return date.toLocaleDateString("ru");
            },
        },
    }

</script>

<style>
    .card {
        background: white;
        border-radius: 10px;
        border: 1px solid transparent;
        min-height: 120px;
        margin: 10px;
        box-shadow: 0 0 4px gray;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .preview-text-block {
        width: 100%;
        float: left;
        word-break: break-word;
        margin-top: 10px;
    }

    .preview-image {
        width: 100%;
        height: auto;
    }

    .preview-title {
        font-size: 30px;
        font-weight: bold;
    }

    .preview-tag {
        font-style: italic;
    }

    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    .article-tag {
        margin-right: 10px;
    }
</style>