<template>
    <div>
        <VueSlickCarousel v-if="data.length > 0" :arrows="false" :variableWidth="true" :infinite="false" :dots="true"
                          class="carousel">
            <div class="image-view-container" v-for="(image, index) in data" :key="index">
                <button class="remove-button" @click="data.splice(index, 1)">
                    Remove
                </button>
                <img class="image-view" @error="emitErrorLoading(index)" :src="image.url">
                <input v-if="withNotes" class="note-input" type="text" v-model="image.note" placeholder="Add a note for image">
            </div>
        </VueSlickCarousel>

        <div v-if="data.length < maxCount || maxCount < 0">
            <input style="display: none" id="image-input" ref="input" type="file" accept="image/*"
                   @change="addImage($event.target.files[0])">
            <label for="image-input" class="upload-button">
                <img width="20px" height="20px" src="@/assets/image_icon.svg">
                <span class="image-upload-text">
                    Add image
                </span>
            </label>
        </div>
    </div>
</template>

<script>
    import VueSlickCarousel from "vue-slick-carousel";

    export default {
        name: "ImageUploader",
        components: {VueSlickCarousel},
        props: {
            data: Array,
            maxCount: {
                default: -1
            },
            withNotes: {
                default: true
            }
        },
        methods: {
            addImage(file) {

                if (!file)
                    return;

                const formData = new FormData();
                formData.append('file', file);

                const reader = new FileReader();
                reader.onload = (e) => {
                    this.data.push({url: e.target.result, form: formData, note: ""});
                    this.$refs.input.value = [];
                };
                reader.readAsDataURL(file);
            },
            emitErrorLoading(index) {
                this.$emit("error", index)
            }
        }
    }
</script>

<style scoped>
    .image-view-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: content-box;
        width: 60%;
    }

    .image-view {
        margin-bottom: 10px;
        object-fit: scale-down;
        object-position: left;
        background-size: contain;
        width: 100%;
        max-height: 400px;
    }

    .carousel {
        margin: 10px 0;
    }

    .note-input {
        width: 100%;
        box-sizing: border-box;
    }

    .upload-button {
        cursor: pointer;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
    }

    .image-upload-text {
        padding-left: 10px;
        font-size: 12pt;
        height: 100%;
        padding-top: 4px;
    }

    .remove-button {
        color: darkred;
        border: 1px solid transparent;
        background: transparent;
        padding: 0;
        cursor: pointer;
        font-size: 12pt;
        margin-top: 5px;
    }

    .remove-button:hover {
        color: red;
    }
</style>